<!-- I will use Tailwind CSS to Front-end, so include the class for the all tags 

This is the header and is conected with all pages, this will include in index.ejs-->
<!-- Path: app\pages\general\nav.ejs -->
<!-- Compare this snippet from app\pages\index.ejs: -->
<!-- Make a interactive nav using Tailwind CSS class for each element-->

<!--Nav Bar-->
<!-- Path: app\pages\general\nav.ejs -->
<!-- Compare this snippet from app\pages\index.ejs: -->
<!-- Make a interactive nav using Tailwind CSS class for each element-->
<nav class="">

</nav>